# Environment variables
.env

# Node
node_modules/
dist/

# .NET
bin/
obj/
*.user

# IDE
.vs/
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
